.modal.modal-remix {
    & .ui.form .inline.field > label {
        width: 30%;
    }

    & table.ui.inverted.table.very.compact {
        margin: auto;
        background-color: rgba(255, 255, 255, 0.1);

        & thead:not(.full-width) th:first-child {
            background-color: transparent;
            box-shadow: none;
        }

        & thead th, & tbody td {
            padding: 1px;
            min-width: 50px;
        }

        & thead th, & tbody td:first-child {
            font-size: 12px;
            padding: 5px;
            font-weight: normal;
        }
        & span.gain-input {
            width: 100%;
            text-align: left;
        }
    }
}
