.patcher {
    >div.boxes>div.box {
        display: block;
        position: absolute;
        pointer-events: auto;
        min-width: 15px;
        border-radius: 6px;

        &.selected {
            box-shadow: 0 0 2px 2px rgb(0, 162, 255);

            &>.resize-handlers {
                &.resize-handlers-horizontal {

                    &>.resize-handler-e,
                    &>.resize-handler-w {
                        display: block;
                    }
                }

                &.resize-handlers-vertical {

                    &>.resize-handler-n,
                    &>.resize-handler-s {
                        display: block;
                    }
                }

                &.resize-handlers-both {
                    &>.resize-handler {
                        display: block;
                    }
                }

                &.resize-handlers-ratio {

                    &>.resize-handler-ne,
                    &>.resize-handler-se,
                    &>.resize-handler-sw,
                    &>.resize-handler-nw {
                        display: block;
                    }
                }
            }
        }

        &>div.box-ui {
            height: 100%;
            width: 100%;
            overflow: unset;
            border-radius: 5px;
        }

        &>div.box-ports {
            position: absolute;
            left: 10px;
            right: 10px;
            height: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            user-select: none;

            &>div.box-port {
                position: relative;
                width: 7px;
                height: 3.5px;
                background-color: rgb(192, 194, 196);
                border-style: solid;
                border-width: 0;

                &.box-port-connected {
                    height: 3.5px;
                    width: 7px;
                }

                &:hover,
                &.box-port-connected:hover {
                    background-color: rgb(75, 80, 86);
                    border-width: 2px !important;
                    margin: -5.5px !important;
                    border-radius: 50% !important;
                    height: 11px !important;
                    width: 11px !important;
                }

                &.box-port-highlight,
                &.box-port-connected.box-port-highlight {
                    background-color: rgb(75, 80, 86);
                    border-width: 2px !important;
                    margin: -5.5px !important;
                    border-radius: 50% !important;
                    height: 11px !important;
                    width: 11px !important;
                }
            }
        }

        &>div.box-inlets {
            top: 0;

            &>div.box-inlet {
                border-radius: 0 0 3.5px 3.5px;
                margin: 0 -3.5px -3.5px -3.5px;

                &.box-port-connected {
                    background-color: rgb(75, 80, 86);
                    border-width: 0 1px 1px 1px;
                    margin: 0 -3.5px -3.5px -3.5px;
                    border-radius: 0 0 3.5px 3.5px;
                }
            }

            &>div.box-inlet-hot {
                border-color: rgb(255, 141, 121);
            }

            &>div.box-inlet-cold {
                border-color: rgb(85, 213, 236);
            }
        }

        &>div.box-outlets {
            bottom: 0;

            &>div.box-outlet {
                border-radius: 3.5px 3.5px 0 0;
                margin: -3.5px -3.5px 0 -3.5px;
                border-color: #FFB600;

                &.box-port-connected {
                    background-color: rgb(75, 80, 86);
                    border-width: 1px 1px 0 1px;
                    margin: -3.5px -3.5px 0 -3.5px;
                    border-radius: 3.5px 3.5px 0 0;
                }
            }
        }

        &>div.resize-handlers {
            &>div.resize-handler {
                position: absolute;
                display: none;

                &.resize-handler-n {
                    top: 0;
                    width: 100%;
                    height: 4px;
                    cursor: n-resize;
                }

                &.resize-handler-ne {
                    top: 0;
                    right: 0;
                    width: 6px;
                    height: 6px;
                    cursor: ne-resize;
                }

                &.resize-handler-e {
                    right: 0;
                    width: 4px;
                    height: 100%;
                    cursor: e-resize;
                }

                &.resize-handler-se {
                    bottom: 0;
                    right: 0;
                    width: 6px;
                    height: 6px;
                    cursor: se-resize;
                }

                &.resize-handler-s {
                    bottom: 0;
                    width: 100%;
                    height: 4px;
                    cursor: s-resize;
                }

                &.resize-handler-sw {
                    bottom: 0;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    cursor: sw-resize;
                }

                &.resize-handler-w {
                    left: 0;
                    width: 4px;
                    height: 100%;
                    cursor: w-resize;
                }

                &.resize-handler-nw {
                    top: 0;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    cursor: nw-resize;
                }
            }
        }
    }

    &.locked>div.boxes>div.box {
        &>div.box-ui {
            pointer-events: auto;
        }

        &>div.box-ports>div.box-port {
            pointer-events: none;

            &:not(.box-port-connected) {
                visibility: hidden;
            }
        }

        &>div.resize-handlers {
            display: none;
        }
    }

    &.unlocked

    /*>*/
    div.boxes>div.box {

        // recursive: if parent patcher unlocked, no events
        &>div.box-ui {
            pointer-events: none !important;
        }
    }

    &.unlocked>div.boxes>div.box {
        &>div.box-ui {
            pointer-events: none;
        }

        &:hover {
            &>div.box-ports {
                &>div.box-port {
                    margin: -3.5px;
                    border-radius: 50%;
                    height: 7px;
                }

                &>div.box-port-connected {
                    border-width: 1px;
                    height: 7px;
                }
            }
        }

        &>div.resize-handlers {
            display: block;
        }
    }

    &.presentation>div.boxes {
        &>div.box {
            &>div.box-ports {
                display: none;
            }

            &:not(.presentation) {
                display: none;
            }
        }
    }
}
