.editor-container {
    & .editor-container-tabs-container {
        display: inline-block;
        background-color: #333;
        height: 34px;
        overflow: auto hidden;
        position: relative;

        &::-webkit-scrollbar {
            height: 0px;
            width: 0px;
        }

        & .editor-container-tabs {
            position: absolute;
            display: inline-flex;
            color: white;
            overflow-x: auto;

            & .editor-container-tab {
                position: relative;
                display: inline-flex;
                cursor: pointer;
                height: 34px;
                align-items: center;
                user-select: none;
                background-color: #222;
                padding: 4px;

                &.active {
                    background-color: #111;
                }

                & .editor-container-tab-dirty {
                    position: absolute;
                    display: block;
                    border-radius: 50%;
                    top: 4px;
                    left: 4px;
                    width: 4px;
                    height: 4px;
                    background-color: #ffd700;
                }
        
                & .editor-container-tab-icon {
                    margin-left: 4px;
                    line-height: 100%;
                }
    
                & span.editor-container-tab-name {
                    font-size: 12px;
                    margin: 0px 2px;
                }
    
                & .editor-container-tab-close {
                    padding: 0px 4px;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.25);
                    }
                }
            }
        }
    }
    & .editor-container-body {
        & > div.empty {
            color: white;
            display: flex;
            flex: 1 1 auto;
            background-color: #111;

            & > div {
                display: flex;
                margin: auto;
                padding: 20px;
                flex-direction: column;
                line-height: 2;
                align-items: center;

                & > div.version {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    bottom: 10px;
                    right: 10px;
                    color: grey;
                }
            }
        }
    }
    & .editor-container-instance-body[hidden] {
        display: none;
    }
}
