.editor-container .audio-editor-container {
    padding: 8px;
    background-color: #141414;

    & > :not(:last-child) {
        padding-bottom: 6px;
    }
}

.ui.modal.fullscreen.audio-editor {
    height: 90%;
    left: auto !important;
    & > i.close.icon {
        color: #fff;
        top: -1rem !important;
        right: -1rem !important;
    }
}
