.editor-container .audio-editor-container {
    & > div.editor-main {
        flex: 1 1 auto;
        position: relative;
        display: flex;
        flex-direction: column;

        & > div.editor-main-canvases {
            display: inline-block;
            flex: 1 1 auto;
            position: relative;
            height: 100%;

            & > .editor-main-canvas-background {
                display: block;
                position: absolute;
                height: calc(100% - 40px);
                width: calc(100% - 80px);
                margin: 40px 80px 0px 0px;
            }

            & > .editor-main-vertical-ruler-container {
                display: block;
                position: absolute;
                height: 100%;
                width: calc(100% - 80px);
                margin: 0px 80px 0px 0px;
                pointer-events: none;
    
                & > canvas {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            & > .editor-main-horizontal-ruler-container {
                display: block;
                position: absolute;
                height: calc(100% - 40px);
                width: 100%;
                margin: 40px 0px 0px 0px;
                pointer-events: none;
    
                & > canvas {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            & > .editor-main-canvas-container {
                display: block;
                position: absolute;
                height: calc(100% - 40px);
                width: calc(100% - 80px);
                cursor: text;
                margin: 40px 80px 0px 0px;
                overflow: hidden;
    
                & > canvas {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
    
                & > div.editor-main-selrange {
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 0%;
                    backdrop-filter: invert(1) hue-rotate(180deg) saturate(0.5) opacity(0.8);
                    pointer-events: none;
                
                    &[hidden] {
                        display: none;
                    }
                    
                    & > div {
                        pointer-events: auto;
                    }
    
                    & > div.resize-handler-w {
                        position: absolute;
                        display: block;
                        top: 0;
                        left: -2px;
                        width: 4px;
                        height: 100%;
                        cursor: ew-resize;
                    }
        
                    & > div.resize-handler-e {
                        position: absolute;
                        display: block;
                        top: 0;
                        right: -2px;
                        width: 4px;
                        height: 100%;
                        cursor: ew-resize;
                    }
                }
                & > div.editor-main-fades {
                    position: absolute;
                    width: 100%;

                    & > div.editor-main-fadein-handler {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        cursor: col-resize;
                        transform: rotate(-135deg);
                        opacity: 0.35;
    
                        &:hover {
                            opacity: 1;
                        }

                        & > i {
                            margin: 0px;
                        }
                    }

                    & > div.editor-main-fadeout-handler {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: col-resize;
                        transform: rotate(-45deg);
                        opacity: 0.35;
    
                        &:hover {
                            opacity: 1;
                        }

                        & > i {
                            margin: 0px;
                        }
                    }

                    & > div.editor-main-fade-handler {
                        position: absolute;
                        display: flex;
                        top: 10px;
                        font-size: 12px;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 0px 4px;
                        margin-left: 5px;
                        border-radius: 3px;
                        opacity: 0.35;
    
                        &:hover {
                            opacity: 1;
                        }

                        & > i {
                            margin: auto;
                            transform: rotate(-90deg);
                        }

                        & > span {
                            margin-left: 6px;
                        }
                    }
                }
            }

            & > div.editor-main-vertical-ruler-area {
                position: absolute;
                display: block;
                height: 40px;
                width: calc(100% - 80px);
                overflow: hidden;
    
                & > div.editor-main-selrange-handler {
                    position: absolute;
                    display: block;
                    height: 40px;
                    width: 0%;
                    background-color: rgba(255, 255, 255, 0.1);
                    pointer-events: none;
                    border: 0px rgba(255, 255, 255, 0.5) dotted;
                    border-width: 0px 2px;
                    overflow: hidden;
    
                    &[hidden] {
                        display: none;
                    }
                    
                    & > div {
                        pointer-events: auto;
                    }
    
                    & > div.editor-main-selrange-mover {
                        position: relative;
                        width: 16px;
                        height: 10px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 30px;
                        cursor: grab;
                        background-image: linear-gradient(to bottom, transparent 4px, grey 4px, grey 5px, transparent 5px, transparent 6px, grey 6px, grey 7px, transparent 7px);
                    }
    
                    & > div.resize-handler-w {
                        position: absolute;
                        display: block;
                        top: 0;
                        left: -2px;
                        width: 4px;
                        height: 100%;
                        cursor: ew-resize;
                    }
        
                    & > div.resize-handler-e {
                        position: absolute;
                        display: block;
                        top: 0;
                        right: -2px;
                        width: 4px;
                        height: 100%;
                        cursor: ew-resize;
                    }
                }
    
                & > div.editor-main-cursor-handler {
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 12px;
                    background-color: #0197fb;
                    border-radius: 0px 0px 8px 8px;
                    bottom: 0;
                    margin-left: -8px;
                    cursor: grab;
                }
            }
    
            & > div.editor-main-channel-enabler {
                display: flex;
                flex-direction: column;
                position: absolute;
                height: calc(100% - 40px);
                width: 100%;
                margin: 40px 0px 0px 0px;
                pointer-events: none;
    
                & > div {
                    flex: 1 1 auto;
                    position: relative;
                    display: flex;
                    width: 100%;
                    align-items: center;
    
                    &.disabled {
                        backdrop-filter: saturate(0);
                    }
    
                    & > span.enable-channel {
                        text-align: center;
                        pointer-events: auto;
                        position: absolute;
                        right: 6px;
    
                        & > button {
                            padding: 8px 10px;
                            margin: 0
                        }
                    }
                }
            }
        }
    }
}
