.gain-input {
    display: inline-block;
    flex: 0 0 auto;
    color: rgb(84, 255, 255);
    font-family: Consolas, monospace;
    cursor: ns-resize;
    padding: 2px 4px;
    border: transparent 1px solid;
    border-radius: 2px;
    user-select: none;
    text-align: center;

    &.editing {
        border: #0197fb 1px solid;
        user-select: auto;
        background-color: white;
        color: black;
        cursor: text;
    }

    &.gain-input-db:after {
        content: " dB";
    }
}
