.patcher>div.boxes>div.box {
    display: block;
    position: absolute;
    pointer-events: auto;
    min-width: 45px;
    z-index: inherit;
}
.patcher>div.boxes>div.box>div.box-ui {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.patcher.unlocked>div.boxes>div.box>div.box-ui {
    pointer-events: none;
}
.patcher.locked>div.boxes>div.box>div.box-ui {
    pointer-events: auto;
}
div.boxes>div.box.selected {
    box-shadow: 0px 0px 2px 2px rgb(0, 162, 255);
}
/* ports */
.patcher>div.boxes>div.box>div.box-inlets {
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    height: 0px;
    display: flex;
    justify-content: space-between;
}
.patcher>div.boxes>div.box>div.box-outlets {
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.patcher>div.boxes>div.box>div.box-outlets>div.box-port,
.patcher>div.boxes>div.box>div.box-inlets>div.box-port {
    position: relative;
    width: 7px;
    height: 3.5px;
    background-color: rgb(192, 194, 196);
    border-style: solid;
    border-width: 0px;
}
.patcher.unlocked>div.boxes>div.box>div.box-outlets>div.box-port,
.patcher.unlocked>div.boxes>div.box>div.box-inlets>div.box-port {
    z-index: 30;
}
.patcher.locked>div.boxes>div.box>div.box-outlets>div.box-port,
.patcher.locked>div.boxes>div.box>div.box-inlets>div.box-port  {
    pointer-events: none;
    z-index: 10;
}
.patcher>div.boxes>div.box>div.box-inlets>div.box-inlet {
    border-radius: 0px 0px 3.5px 3.5px;
    margin: 0px -3.5px -3.5px -3.5px;
}
.patcher>div.boxes>div.box>div.box-inlets>div.box-inlet-hot {
    border-color: rgb(255, 141, 121);
}
.patcher>div.boxes>div.box>div.box-inlets>div.box-inlet-cold {
    border-color: rgb(85, 213, 236);
}
.patcher>div.boxes>div.box>div.box-outlets>div.box-outlet {
    border-radius: 3.5px 3.5px 0px 0px;
    margin: -3.5px -3.5px 0px -3.5px;
    border-color: rgb(211, 255, 0);
}
.patcher.unlocked>div.boxes>div.box:hover>div.box-outlets>div.box-port,
.patcher.unlocked>div.boxes>div.box:hover>div.box-inlets>div.box-port {
    margin: -3.5px;
    border-radius: 50%;
    height: 7px;
}
.patcher.unlocked>div.boxes>div.box:hover>div.box-outlets>div.box-port-connected,
.patcher.unlocked>div.boxes>div.box:hover>div.box-inlets>div.box-port-connected {
    border-width: 1px;
    height: 7px;
}
.patcher>div.boxes>div.box>div.box-outlets>div.box-port:first,
.patcher>div.boxes>div.box>div.box-inlets>div.box-port:first {
    float: left;
}
.patcher>div.boxes>div.box>div.box-outlets>div.box-port:last,
.patcher>div.boxes>div.box>div.box-inlets>div.box-port:last {
    float: right;
}
.patcher>div.boxes>div.box>div.box-outlets>div.box-outlet.box-port-connected {
    background-color: rgb(75, 80, 86);
    border-width: 1px 1px 0px 1px;
    margin: -3.5px -3.5px 0px -3.5px;
    border-radius: 3.5px 3.5px 0px 0px;
    height: 3.5px;
    width: 7px;
}
.patcher>div.boxes>div.box>div.box-outlets>div.box-outlet:hover,
.patcher>div.boxes>div.box>div.box-outlets>div.box-outlet.box-port-highlight {
    background-color: rgb(75, 80, 86);
    border-width: 2px !important;
    margin: -5.5px !important;
    border-radius: 50%;
    height: 11px !important;
    width: 11px;
}
.patcher>div.boxes>div.box>div.box-inlets>div.box-inlet.box-port-connected {
    background-color: rgb(75, 80, 86);
    border-width: 0px 1px 1px 1px;
    margin: 0px -3.5px -3.5px -3.5px;
    border-radius: 0px 0px 3.5px 3.5px;
    height: 3.5px;
    width: 7px;
}
.patcher>div.boxes>div.box>div.box-inlets>div.box-inlet:hover,
.patcher>div.boxes>div.box>div.box-inlets>div.box-inlet.box-port-highlight {
    background-color: rgb(75, 80, 86);
    border-width: 2px !important;
    margin: -5.5px !important;
    border-radius: 50%;
    height: 11px !important;
    width: 11px;
}

div.box:not(.selected) .ui-resizable-handle {
    display: none;
}