#right {
    & > div.resize-handler-w {
        position: absolute;
        display: block;
        left: 0;
        width: 4px;
        height: 100%;
        cursor: w-resize;
        z-index: 1;
    }
    & > #right-menu {
        position: relative;
        width: auto;
        z-index: 0;
        display: flex;
    }
    & > #right-pane {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 350px;
        max-width: 75vw;
        min-width: 200px;
        background-color: #1b1c1d;
        & > h5 {
            margin: 8px;
            display: block;
            position: relative;
            flex: 0 0 auto;
        }
        & > div {
            display: flex;
            position: relative;
            flex: 1 1 auto;
            overflow: auto;
            flex-direction: column;
            & > table {
                word-break: break-all;
                flex: 1 1 auto;
                overflow: auto;
                display: block;
                margin: 0px;
                & tbody {
                    display: table;
                    width: 100%;
                }
                & td:empty::before {
                    content: "\200b";
                }
                & tr.tr-placeholder {
                    overflow: hidden;
                }
            }
            & > .menu {
                margin: 0px;
            }
        }
        & > div#right-pane-inspector {
            & .division-title {
                display: block;
                position: relative;
                flex: 0 0 auto;
                background-color: #252525;
                margin: 0px;
                padding: 4px 8px 4px 30px;
                border-bottom: 1px solid #4a4a4a;
                font-weight: normal;
            }
            & table:not(.last-table) {
                flex: 0 0 auto;
            }
            & span.inspector-value {
                &.number, &.string, &.object, &.anything {
                    display: inline-block;
                    padding: 0em 0.6em;
                    line-height: 28px;
                    width: calc(100% + 1.2em);
                    margin: -0.4em -0.6em;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(245, 245, 245, 0.2);
                    }
                    &::before {
                        content: "\200b";
                    }
                    &::selection {
                        background-color: #004eff;
                        color: white;
                    }
                }
                &.color {
                    width: 40px;
                    height: 18px;
                    cursor: pointer;
                    display: inline-block;
                    border: 3px solid whitesmoke;
                    border-radius: 4px;
                    line-height: 12px;
                    &::before {
                        content: "\200b";
                    }
                }
            }
            & input.inspector-input {
                display: inline-block;
                background-color: rgba(0, 0, 0, 0.5);
                font-size: unset;
                font-family: unset;
                border: unset;
                color: unset;
                padding: 0em 0.6em;
                line-height: 28px;
                width: calc(100% + 1.2em);
                margin: -0.4em -0.6em;
                &::selection {
                    background-color: #004eff;
                    color: white;
                }
            }
            & div.color-picker-fullscreen-cover {
                position: fixed;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
            }
            & div.chrome-picker {
                position: absolute;
                right: 0px;
                margin: 10px;
                z-index: 2;
            }
            & div.checkbox {
                vertical-align: top;
            }
            & .ui.dropdown .menu > .item {
                font-size: 1em !important;
            }
        }
    }
    &[hidden], & [hidden] {
        display: none !important;
    }
}