*:focus {
    outline: none;
}
#left {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
.topmenu {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    /*overload semantic 100% width*/
}
.patcher-container {
    position: relative;
    overflow: auto;
    flex: 1 1 100%;
    display: block;
}
body ::-webkit-scrollbar-corner {
    background-color: rgb(61, 65, 70);
}
body ::-webkit-scrollbar {
    background-color: rgb(61, 65, 70);
}
body ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}
body ::-webkit-scrollbar-thumb:window-inactive{
    background-color: rgba(0, 0, 0, 0.5);
}