*:focus {
    outline: none;
}
.ui-left {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 1 100%;
    & > .patcher-container {
        position: relative;
        overflow: auto;
        flex: 1 1 100%;
        display: block;
    }
}
.ui-right {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 0 0 auto;
}
body ::-webkit-scrollbar-corner {
    background-color: rgba(61, 65, 70, 0.1);
}
body ::-webkit-scrollbar {
    background-color: rgba(61, 65, 70, 0.1);
}
body ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}
body ::-webkit-scrollbar-thumb:window-inactive{
    background-color: rgba(0, 0, 0, 0.5);
}