.patcher {
    &.unlocked {
        & > div.boxes {
            // z-index: 10;
            & > div.box {
                &.selected {
                    z-index: 40;
                }
                & > div.box-ports > div.box-port:hover {
                    z-index: 30;
                }
            }
        }
        & > div.lines {
            // z-index: 20;
            & > div.line {
                &.selected {
                    z-index: 50;
                }
                & > div.line-handler {
                    z-index: 50;
                }
            }
        }
        & > div.selection {
            z-index: 50;
        }
        & > div.grid-background {
            // z-index: 1;
        }
    }
    &.locked {
        & > div.boxes {
            z-index: 20;
            & > div.box > div.box-ports > div.box-port {
                // z-index: 10;
            }
        }
        & > div.lines {
            z-index: 10;
        }
    }
}
.ui.menu {
    &.top-menu {
        z-index: 110;
    }
}
.status-bar {
    z-index: 2000;
}
