.patcher div.box-ui > div.package-ui {
    &.package-ui-comment {
        display: flex;
        word-break: break-word;
        text-align: left;
        padding: 4px 5px;
        width: 100%;
        line-height: 14px;
        font-weight: normal;
        user-select: none;
        -webkit-user-select: none;
        cursor: default;
        & span {
            width: 100%;
            color: whitesmoke;
            &.editing {
                pointer-events: auto;
                cursor: text;
                user-select: auto;
                -webkit-user-select: auto;
            }
            &:empty::before {
                content: "\200b";
            }
        }
    }
    &.package-ui-code {
        height: 100%;
        width: 100%;
    }
    &.box-ui-button {
        &.box-ui-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: auto;
            padding: 0px;
            margin: 0px;
        }
        & > .box-ui-text-container {
            display: flex;
            flex: 0 0 auto;
            padding: 4px 5px;
            width: 100%;
            font-family: Lato, Tahoma, sans-serif;
            font-size: 12px;
            text-align: left;
            margin: 0px;
            overflow-wrap: break-word;
            cursor: default;
            user-select: none;
            -webkit-user-select: none;
            &:first-child {
                border-top-width: 4px;
            }
            &:last-child {
                border-bottom-width: 4px;
            }
            & > span {
                position: relative;
                word-break: break-all;
                width: 100%;
                line-height: 14px;
                font-weight: normal;
                color: black;
                &.editing {
                    pointer-events: auto;
                    cursor: text;
                    user-select: auto;
                    -webkit-user-select: auto;
                }
                &:empty::before {
                    content: "\200b";
                }
                &::selection {
                    background-color: #004eff;
                    color: white;
                }
            }
            i.icon {
                line-height: 14px;
            }
        }
    }
    &.package-ui-menu {
        & > .dropdown {
            font-size: 12px;
            padding: 4px 15px 4px 5px;
            min-height: auto;
            & > .dropdown.icon {
                padding: 5px 5px;
            }
            & > .menu > .item {
                font-size: 12px;
                padding: 4px 5px!important;
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
}
.patcher.unlocked div.box.selected > div.box-ui > div.package-ui {
    &.box-ui-button {
        &:hover, &:active {
            background-color: #e0e1e2;
        }
        & > .box-ui-text-container {
            pointer-events: auto;
        }
    }
    & > span {
        pointer-events: auto;
    }
}