.faust-ui-component.faust-ui-component-checkbox {
    & > div {
        display: flex;
        position: relative;
        cursor: pointer;
        border-width: 1px;
        text-align: center;
        border-radius: 1px;
        flex: 1 0 auto;
        border-style: solid;
        & > span {
            margin: auto;
            user-select: none;
        }
    }
}