.faust-ui-component.faust-ui-component-hslider {
    & > .faust-ui-component-label {
        flex: 0 0 auto;
    }
    & > .faust-ui-component-hslider-flexdiv {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        flex: 1 1 auto;
        width: 100%;
        height: auto;
        & > .faust-ui-component-hslider-canvasdiv {
            position: relative;
            display: block;
            flex: 1 1 auto;
            height: 100%;
            margin: auto;
            & > canvas {
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        & > input {
            position: relative;
            display: block;
            flex: 0 1 auto;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.25);
            margin: auto 5px auto auto;
            border-width: 0px;
            border-radius: 4px;
            width: calc(20% - 13px);
            padding: 2px 4px;
            -moz-appearance:textfield;
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}
