.faust-ui-component.faust-ui-component-led {
    align-items: center;
    & > .faust-ui-component-label {
        flex: 0 0 auto;
    }
    & > .faust-ui-component-led-canvasdiv {
        position: relative;
        display: block;
        flex: 1 1 auto;
        width: 100%;
        & > canvas {
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}
