.faust-ui-component.faust-ui-component-numerical {
    align-items: center;
    & > input {
        position: relative;
        display: block;
        flex: 0 1 auto;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.25);
        margin: auto;
        border-width: 0px;
        border-radius: 4px;
        width: calc(100% - 8px);
        padding: 2px 4px;
    }
}