.patcher div.box-ui > div.package-base {
    &.package-base-comment {
        display: flex;
        word-break: break-word;
        text-align: left;
        padding: 4px 5px;
        width: 100%;
        line-height: 14px;
        font-weight: normal;
        user-select: none;
        -webkit-user-select: none;
        cursor: default;
        & span {
            width: 100%;
            color: whitesmoke;
            &.editing {
                pointer-events: auto;
                cursor: text;
                user-select: auto;
                -webkit-user-select: auto;
            }
            &:empty::before {
                content: "\200b";
            }
        }
    }
}
.patcher.unlocked div.box.selected > div.box-ui > div.package-base {
    &.package-base-comment > span {
        pointer-events: auto;
    }
}